/* #wrapper {
    width: 800px;
    height: 200px;
    border: 1px solid;
    margin: auto;
}
#img1,#img2,#img3,#img4,#img5,#img6 {
    width: 130px;
    height: 140px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgrey;
}
.clock{
    width:550px;
    height: 550px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("JAM.PNG");
    background-repeat: no-repeat;
    background-color: rgb(212, 212, 212);
    background-size: cover;
    background-position: center;
    box-shadow: 2px 4px 15px 38px rgba(78, 78, 78, 0.9);
}
.clock::before {
    content: "";
    width:15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

.clock .hour,.clock .min, .clock .sec {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock .hour .hr {
    width: 160px;
    height: 160px;
}
.clock .min .mn {
    width: 190px;
    height: 190px;
}
.clock .sec .sc {
    width: 230px;
    height: 230px;
}
.hr,.mn,.sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}
.hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px 6px 0 0;
}
.mn::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 130px;
    background-color: darkcyan;
    border-radius: 6px 6px 0 0;
}
.sc::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 180px;
    background-color: darkred;
    border-radius: 6px 6px 0 0;
}